{{#IncludeFiles}}
#include "{{.}}"
{{/IncludeFiles}}

{{#ClassStaticInitializerList}}
CClass* {{ClassName}}::CLASS_STATIC_INITIALIZER()
{
    StaticClass<{{ClassName}}>()->SetName("{{ClassName}}");
    {{#PropertyInitializerList}}
    {{PropertyName}}
    {{/PropertyInitializerList}}
}
{{/ClassStaticInitializerList}}